.button {
  @extend .transition-active;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 30px;
  color: white;
}
