/* Use Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic) */
/* or */
/* @include font-face("Samplina Neue", "../fonts/SamplinaNeue"); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


h1, .title{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

