.wrapper {
  position: relative;
}

.container {
  margin: auto;
  box-sizing: content-box;
  display: flex;
  gap: 50px;
  overflow-x: hidden;

  &__left{
	max-width: 1100px;
	margin: 60px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 85px;
	width: 100%;
	padding: 0 60px;
  }

  &__right{
	display: flex;
	flex-direction: column;
	gap: 0;
	border-left: 1px solid rgba(207, 207, 207, 1);
	height: calc(100vh - 79px);

	@media (min-width: 768px) and (max-width: 1199px){
	  &{
		display: none;
	  }
	}

	&-item{
	  display: flex;
	  flex-direction: column;
	  gap: 30px;
	  padding: 40px;
	  width: 330px;

	  &:not(:last-child){
		border-bottom: 1px solid rgba(207, 207, 207, 1);
	  }
	}
  }
}

.pay{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 660px;
  width: 100%;

  &__methods{
	display: flex;
	gap: 82px;

	&-item{
	  &:last-child &--label{
		&:before{
		  top: -10px;
		}
		&:after{
		  top: -10px;
		}
	  }


	  &--input{
		display: none;

		&:checked + .pay__methods-item--label:after{
		  content: '';
		  position: absolute;
		  width: 8px;
		  height: 8px;
		  background: rgba(51, 102, 255, 1);
		  border-radius: 100%;
		  left: 6px;
		  margin-top: 6px;
		}
	  }

	  &--label{
		font-size: 14px;
		line-height: 16px;
		position: relative;
		padding-left: 27px;
		transition: 0.2s;

		&:before{
		  content: '';
		  position: absolute;
		  width: 18px;
		  height: 18px;
		  border-radius: 100%;
		  border: 1px solid rgba(207, 207, 207, 1);
		  left: 0;
		  transition: 0.2s;

		}

		&:hover{
		  cursor: pointer;

		  &:before{
			border-color: rgba(51, 102, 255, 1);
		  }
		}

		&:last-child{
		  padding-left: 32px;
		}
	  }
	}
  }

  &__svg{
	width: 85px;
	height: 23px;
  }

  &__buttons{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  &__checkbox{
	display: flex;
	flex-direction: column;
	gap: 14px;

	&-input{
	  display: none;

	  &:checked + .pay__checkbox-label:after{
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		background: #3366FF;
		margin-top: 2px;
		left: 6px;
	  }
	}

	&-label{
	  font-size: 14px;
	  line-height: 16px;
	  color: rgba(140, 140, 140, 1);
	  position: relative;
	  padding-left: 26px;

	  & a{
		color: black;

		&:hover{
		  color: #3366FF;
		}
	  }

	  &:hover{
		cursor: pointer;

		&:before{
		  border-color: #3366FF;
		}
	  }

	  &:before{
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background: #FFFFFF;
		border: 1px solid #CFCFCF;
		top: -4px;
		left: 0;
		transition: 0.2s;
	  }
	}
  }
}
